<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Formato FOFOE{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{app.request.getSchemeAndHttpHost() ~ asset('build/layout-formato-fofoe.css') }}">
    {% endblock %}
</head>
<body>
{% block header %}
    <header>
        <img width="350px" src="{{ app.request.getSchemeAndHttpHost() ~ asset('build/images/imss-cabecera.jpg') }}" alt="IMSS">
    </header>
{% endblock %}

<main>
    {% block body %}{% endblock %}
</main>
</body>
</html>
