easy_admin:
  entities:
    Permission:
      class: AppBundle\Entity\Permiso
      label: Permisos
      list:
        title: Permisos
        actions:
          - '-delete'
          - { name: 'new', label: 'Crear permiso' }
        fields:
          - id
          - { property: nombre, label: 'Nombre' }
          - { property: rol.nombre, label: 'Rol' }
          - { property: clave, label: 'Clave' }
      form:
        fields:
          - { property: nombre, label: 'Nombre' }
          - { property: rol, label: 'Rol', type: entity}
          - { property: Clave, label: 'Clave' }
