easy_admin:
  entities:
    Permission:
      class: AppBundle\Entity\Permiso
      label: Permisos
      list:
        title: Permisos
        actions:
          - '-delete'
          - { name: 'new', label: 'Crear permiso' }
        fields:
          - id
          - { property: nombre, label: 'Nombre' }
          - { property: rolSeguridad, label: 'Rol' }
          - { property: descripcion, label: 'Descripción' }
      form:
        fields:
          - { property: nombre, label: 'Nombre' }
          - { property: rolSeguridad, label: 'Rol' }
          - { property: descripcion, label: 'Descripción' }
