easy_admin:
  entities:
    Role:
      class: AppBundle\Entity\Rol
      label: Roles
      list:
        title: Roles
        actions:
          - { name: 'new', label: 'Crear rol' }
        fields:
          - id
          - nombre
      form:
        fields:
          - { property: nombre, label: 'Nombre' }
          - { property: permisos, label: 'Permisos', type: entity, type_options: { class: AppBundle\Entity\Permiso, choice_label: AppBundle\Util\AdminUtil::getPermissionName, query_builder: AppBundle\Repository\Admin\AdminRepository::getAll, expanded: true, multiple: true, by_reference: false } }
