easy_admin:
  entities:
    User:
      class: AppBundle\Entity\Usuario
      controller: AppBundle\Controller\Admin\UserController
      label: Usuarios
      list:
        title: Usuarios
        actions:
          - { name: 'new', label: 'Crear usuario' }
        fields:
          - { property: matricula, label: 'Matrícula', type: text }
          - { property: fullName, label: 'Nombre', type: text }
          - { property: correo, label: 'Correo electrónico' }
          - { property: activo, label: 'Activo', type: toggle }
          - { property: assignRoles, label: 'Roles', type: text }
          - { property: assignDepartments, label: 'Departamento' }
      form:
        fields:
          - { property: matricula, label: 'Matrícula' }
          - { property: nombre, label: 'Nombre' }
          - { property: apellidoPaterno, label: 'Apellido paterno' }
          - { property: apellidoMaterno, label: 'Apellido materno' }
          - { property: regims, label: 'Regims' }
          - { property: correo, label: 'Correo electrónico' }
          - { property: curp, label: 'CURP' }
          - { property: rfc, label: 'RFC' }
          - { property: sexo, label: 'Sexo', type: choice, type_options: { choices: { 'Masculino': 'Masculino', 'Femenino': 'Femenino' } } }
          - { property: activo, type: checkbox }
          - { property: plainPassword, type: text, label: 'Contraseña' }
          - { property: rol, label: 'Rol', type: entity, type_options: { class: AppBundle\Entity\Rol, choice_label: nombre, expanded: true, multiple: false } }
          - { property: departamento, label: 'Departamento', type: entity, type_options: { choice_label: nombre } }
          - { property: delegaciones, label: 'Delegaciones', type: entity, type_options: { class: AppBundle\Entity\Delegacion, choice_label: nombre, query_builder: AppBundle\Repository\Admin\AdminRepository::getAllDelegations, expanded: true, multiple: true } }
