easy_admin:
  entities:
    Agreement:
      class: AppBundle\Entity\Convenio
      label: 'Convenio'
      list:
        title: 'Convenio'
        actions:
          - { name: 'new', label: 'Crear convenio' }
        fields:
          - id
          - sector
          - tipo
          - vigencia
          - { property: gradoAcademico.nombre, label: 'Grado académico' }
          - { property: cicloAcademico.nombre, label: 'Ciclo académico' }
          - { property: carrera.nombre, label: 'Carrera' }
          - { property: institucion.nombre, label: 'Institución' }
          - { property: delegacion.nombre, label: 'Delegación' }
      form:
        fields:
          - { property: sector, label: 'Sector', type: choice, type_options: { choices: { 'Público': 'Público', 'Privado': 'Privado' } } }
          - { property: tipo, label: 'Tipo', type: choice, type_options: { choices: { 'General': 'General', 'Específico': 'Específico' } } }
          - vigencia
          - { property: gradoAcademico, label: 'Grado académico', type: entity, type_options: { choice_label: nombre } }
          - { property: cicloAcademico, label: 'Ciclo académico', type: entity, type_options: { choice_label: nombre } }
          - { property: carrera, label: 'Carrera', type: entity, type_options: { choice_label: nombre } }
          - { property: institucion, label: 'Institución', type: entity, type_options: { choice_label: nombre } }
          - { property: delegacion, label: 'Delegación', type: entity, type_options: { choice_label: nombre } }
