easy_admin:
  entities:
    Career:
      class: AppBundle\Entity\Carrera
      label: 'Carrera'
      list:
        title: 'Carrera'
        actions:
          - { name: 'new', label: 'Crear carrera' }
        fields:
          - id
          - nombre
          - { property: nivelAcademico.nombre, label: 'Nivel académico' }
          - { property: activo, type: toggle }
      form:
        fields:
          - { property: nombre, label: 'Nombre' }
          - { property: nivelAcademico, label: 'Nivel académico', type: entity, type_options: { choice_label: nombre } }
          - { property: activo, label: 'Activo' }
