easy_admin:
  entities:
    Delegation:
      class: AppBundle\Entity\Delegacion
      label: 'Delegaci贸n'
      list:
        title: 'Delegaci贸n'
        actions:
          - { name: 'new', label: 'Crear delegaci贸n' }
        fields:
          - id
          - nombre
          - { property: activo, type: toogle }
          - { property: claveDelegacional, label: 'Clave delegacional' }
          - { property: grupoDelegacion, label: 'Grupo delegacional' }
          - { property: nombreGrupoDelegacion, label: 'Nombre del grupo delegacional' }
          - { property: latitud, label: 'Latitud' }
          - { property: altitud, label: 'Altitud' }
          - { property: fecha, label: 'Fecha de creaci贸n' }
      form:
        fields:
          - nombre
          - { property: claveDelegacional, label: 'Clave delegacional' }
          - { property: grupoDelegacion, label: 'Grupo delegacional' }
          - { property: nombreGrupoDelegacion, label: 'Nombre del grupo delegacional' }
          - { property: latitud, label: 'Latitud' }
          - { property: altitud, label: 'Altitud' }
          - { property: activo }
          - { property: region, type: entity, type_options: { choice_label: nombre } }
