<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}NOMBRE DEL SISTEMA!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}
        <link rel="stylesheet"
              href="http://educacionensalud.imss.gob.mx/sites/all/modules/accordion_blocks/accordion_init.css?q1wfy3">
        <link rel="stylesheet"
              href="http://educacionensalud.imss.gob.mx/sites/all/libraries/superfish/css/superfish.css?q1wfy3">
        <link rel="stylesheet"
              href="http://educacionensalud.imss.gob.mx/sites/all/libraries/superfish/css/superfish-smallscreen.css?q1wfy3">
        <link rel="stylesheet"
              href="http://educacionensalud.imss.gob.mx/sites/all/libraries/superfish/style/space.css?q1wfy3">
        <link type="text/css" rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.css" media="all">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700">
        <script src="http://educacionensalud.imss.gob.mx/sites/all/modules/jquery_update/replace/jquery/1.10/jquery.min.js?v=1.10.2"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.js"></script>
        <link rel="stylesheet"
              href="http://educacionensalud.imss.gob.mx/sites/all/themes/ces/assets/css/custom.css?q1wfy3">
        <link rel="stylesheet" href="{{ asset('build/layout.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbarMainCollapse">
                    <span class="sr-only">Interruptor de Navegación</span><span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logos" style="width: 8rem; margin-top: -2%; margin-bottom: -2%; margin-left: -15%;"
                   href="https://www.gob.mx/" target="_blank">
                    <img src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.png"
                         alt="logo gobierno de méxico"/>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarMainCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://www.gob.mx/tramites" title="Trámites">Trámites</a></li>
                    <li><a href="https://www.gob.mx/gobierno" title="Gobierno">Gobierno</a></li>
                    <li><a href="https://www.gob.mx/busqueda"><img
                                    src="https://framework-gb.cdn.gob.mx/landing/img/lupa.png" alt=""/></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="navbar  navbar-inverse sub-navbar">
        <div class="container-fluid " style="backgroundcolor: #2c4838">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="collapse in navbar-collapse" id="navbar-1">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 " style="padding: 0px">
                        <div class="region region-navigation">
                            <section id="block-superfish-1"
                                     class="block block-superfish contextual-links-region clearfix">
                                <ul id="superfish-1"
                                    class="menu nav navbar-nav sf-menu sf-main-menu sf-horizontal sf-style-space sf-total-items-7 sf-parent-items-0 sf-single-items-7 superfish-processed sf-js-enabled sf-shadow">
                                    <li id="menu-238-1" class="first odd sf-item-1 sf-depth-1 sf-no-children"><a
                                                href="#" class="sf-depth-1">Inicio</a></li>
                                    <li id="menu-728-1"
                                        class="active-trail middle even sf-item-2 sf-depth-1 sf-no-children"><a href="#"
                                                                                                                title=""
                                                                                                                class="sf-depth-1 active">Instituciones</a>
                                    </li>
                                    <li id="menu-1917-1" class="middle odd sf-item-3 sf-depth-1 sf-no-children"><a
                                                href="#" class="sf-depth-1">Lista de solicitudes</a></li>
                                    <li id="menu-1231-1" class="middle even sf-item-4 sf-depth-1 sf-no-children"><a
                                                href="#" title="" class="sf-depth-1">Reportes</a></li>
                                    <li id="menu-955-1" class="middle odd sf-item-5 sf-depth-1 sf-no-children"><a
                                                href="#" title="" class="sf-depth-1">Perfil</a></li>
                                    <li id="menu-2572-1" class="middle even sf-item-6 sf-depth-1 sf-no-children"><a
                                                href="#" title="" class="sf-depth-1">Login</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                </div>
            </div>
        </div>
    </div>
</header>

{% block body %}{% endblock %}

<footer class="section-md" style="background-image: url('{{ asset('build/images/footer/background.jpg') }}')">
    <div class="container">
        <section class="col-xs-12 col-sm-6 col-md-3">
            <div class="region region-footer-t1">
                <section class="block block-block clearfix">
                    <p><img alt="" src="http://educacionensalud.imss.gob.mx/?q=es/system/files/logofooter.png"
                            style="width: 229px; height: 76px;"></p>
                </section>
            </div>
        </section>
        <section class="col-xs-12 col-sm-6 col-md-3">
            <p class="list__title">Enlaces</p>
            <ul class="list">
                <li><a href="https://www.gob.mx/participa">Participa</a></li>
                <li><a href="https://www.gob.mx/publicaciones">Publicaciones Oficiales</a></li>
                <li><a href="http://www.ordenjuridico.gob.mx/"><span style="color:#ffffff;">Marco Jurídico</span></a></li>
                <li><a href="https://consultapublicamx.inai.org.mx/vut-web/">Plataforma Nacional de Transparencia</a></li>
            </ul>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-3">
            <p class="list__title">¿Qué es gob.mx?</p>
            <ul class="list">
                <li><a href="https://www.gob.mx/que-es-gobmx">Es el portal único de trámites, información y participación ciudadana. Leer más</a></li>
                <li><a href="https://datos.gob.mx/">Portal de datos abiertos</a></li>
                <li><a href="https://www.gob.mx/accesibilidad">Declaración de accesibilidad</a></li>
                <li><a href="https://www.gob.mx/privacidadintegral">Aviso de privacidad integral</a></li>
                <li><a href="https://www.gob.mx/privacidadsimplificado">Aviso de privacidad simplificado</a></li>
                <li><a href="https://www.gob.mx/terminos">Términos y condiciones</a></li>
                <li><a href="https://www.gob.mx/terminos#medidas-seguridad-informacion">Política de seguridad</a></li>
                <li><a href="https://www.gob.mx/sitemap">Mapa del sitio</a></li>
            </ul>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-3">
            <p class="list__title">Otros trámites</p>
            <ul class="list">
                <li>Mesa de ayuda: dudas e información</li>
                <li><a class="link" href="mailto:gobmx@funcionpublica.gob.mx">gobmx@funcionpublica.gob.mx</a></li>
                <li>Denuncia contra servidores públicos</li>
                <li>Síguenos en:</li>
                <li><a href="https://www.facebook.com/gobmexico/"><img alt="" src="http://educacionensalud.imss.gob.mx/?q=es/system/files/facebook.png"></a>&nbsp;<a href="https://twitter.com/GobiernoMX"><img alt="" src="http://educacionensalud.imss.gob.mx/?q=es/system/files/twitter.png"></a></li>
            </ul>
        </section>
    </div>
</footer>

{% block javascripts %}
    <script src="{{ asset('build/runtime.js') }}"></script>
{% endblock %}
</body>
</html>
