<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}NOMBRE DEL SISTEMA!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}
        <link rel="stylesheet"
              href="http://educacionensalud.imss.gob.mx/sites/all/modules/accordion_blocks/accordion_init.css?q1wfy3">
        <link rel="stylesheet"
              href="http://educacionensalud.imss.gob.mx/sites/all/libraries/superfish/css/superfish.css?q1wfy3">
        <link rel="stylesheet"
              href="http://educacionensalud.imss.gob.mx/sites/all/libraries/superfish/css/superfish-smallscreen.css?q1wfy3">
        <link rel="stylesheet"
              href="http://educacionensalud.imss.gob.mx/sites/all/libraries/superfish/style/space.css?q1wfy3">
        <link type="text/css" rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.css" media="all">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700">
        <link rel="stylesheet"
              href="http://educacionensalud.imss.gob.mx/sites/all/themes/ces/assets/css/custom.css?q1wfy3">
        <link rel="stylesheet" href="{{ asset('build/layout.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbarMainCollapse">
                    <span class="sr-only">Interruptor de Navegación</span><span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logos" style="width: 8rem; margin-top: -2%; margin-bottom: -2%; margin-left: -15%;"
                   href="https://www.gob.mx/" target="_blank">
                    <img src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.png"
                         alt="logo gobierno de méxico"/>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarMainCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://www.gob.mx/tramites" title="Trámites">Trámites</a></li>
                    <li><a href="https://www.gob.mx/gobierno" title="Gobierno">Gobierno</a></li>
                    <li><a href="https://www.gob.mx/busqueda"><img
                                    src="https://framework-gb.cdn.gob.mx/landing/img/lupa.png" alt=""/></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

{% block body %}{% endblock %}

<footer class="section-md" style="background-image: url('{{ asset('build/images/footer/background.jpg') }}')">
    <div class="container">
        <section class="col-xs-12 col-sm-6 col-md-3">
            <div class="region region-footer-t1">
                <section class="block block-block clearfix">
                    <p><img alt="" src="http://educacionensalud.imss.gob.mx/?q=es/system/files/logofooter.png" style="width: 229px; height: 76px;"></p>
                </section>
            </div>
        </section>
        <section class="col-xs-12 col-sm-6 col-md-3">
            <p class="list__title">Enlaces</p>
            <ul class="list">
                <li><a href="https://www.gob.mx/participa">Participa</a></li>
                <li><a href="https://www.gob.mx/publicaciones">Publicaciones Oficiales</a></li>
                <li><a href="http://www.ordenjuridico.gob.mx/"><span style="color:#ffffff;">Marco Jurídico</span></a></li>
                <li><a href="https://consultapublicamx.inai.org.mx/vut-web/">Plataforma Nacional de Transparencia</a></li>
            </ul>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-3">
            <p class="list__title">¿Qué es gob.mx?</p>
            <ul class="list">
                <li><a href="https://www.gob.mx/que-es-gobmx">Es el portal único de trámites, información y participación ciudadana. Leer más</a></li>
                <li><a href="https://datos.gob.mx/">Portal de datos abiertos</a></li>
                <li><a href="https://www.gob.mx/accesibilidad">Declaración de accesibilidad</a></li>
                <li><a href="https://www.gob.mx/privacidadintegral">Aviso de privacidad integral</a></li>
                <li><a href="https://www.gob.mx/privacidadsimplificado">Aviso de privacidad simplificado</a></li>
                <li><a href="https://www.gob.mx/terminos">Términos y condiciones</a></li>
                <li><a href="https://www.gob.mx/terminos#medidas-seguridad-informacion">Política de seguridad</a></li>
                <li><a href="https://www.gob.mx/sitemap">Mapa del sitio</a></li>
            </ul>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-3">
            <p class="list__title">Otros trámites</p>
            <ul class="list">
                <li>Mesa de ayuda: dudas e información</li>
                <li><a class="link" href="mailto:gobmx@funcionpublica.gob.mx">gobmx@funcionpublica.gob.mx</a></li>
                <li>Denuncia contra servidores públicos</li>
                <li>Síguenos en:</li>
                <li><a href="https://www.facebook.com/gobmexico/"><img alt="" src="http://educacionensalud.imss.gob.mx/?q=es/system/files/facebook.png"></a>&nbsp;<a href="https://twitter.com/GobiernoMX"><img alt="" src="http://educacionensalud.imss.gob.mx/?q=es/system/files/twitter.png"></a></li>
            </ul>
        </section>
    </div>
</footer>

{% block javascripts %}
    <script src="{{ asset('build/runtime.js') }}"></script>
{% endblock %}
</body>
</html>
