# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:
    encoders:
        AppBundle\Entity\Usuario:
            algorithm: bcrypt

    providers:
        user_provider:
            entity:
                class: AppBundle:Usuario
                property: usuario

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: ~
            http_basic: ~
            provider: user_provider
            logout:
                path:   /logout
                target: /

    access_control:
        - { path: '^/admin', roles: ROLE_SUPER_ADMIN }
