# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:
    encoders:
        AppBundle\Entity\Usuario:
            algorithm: bcrypt

    providers:
        die_user_provider:
            id: AppBundle\Security\DIEUserProvider

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: ~
            form_login:
                login_path: login
                check_path: login
            provider: die_user_provider
            logout:
                path:   /logout
                target: /

    access_control:
        - { path: '^/admin', roles: ROLE_SUPER_ADMIN}
