# Learn more about services, parameters and containers at
# https://symfony.com/doc/current/service_container.html
parameters:
    referencias_bancarias_dir: '%kernel.root_dir%/../var/referencias_bancarias'
    formato_fofoe_dir: '%kernel.root_dir%/../var/formato_fofoe'
    credenciales_dir: '%kernel.root_dir%/../var/credenciales'

imports:
    - { resource: './services/repositories.yml' }

services:
    # default configuration for services in *this* file
    _defaults:
        # automatically injects dependencies in your services
        autowire: true
        # automatically registers your services as commands, event subscribers, etc.
        autoconfigure: true
        # this means you cannot fetch services directly from the container via $container->get()
        # if you need to do this, you can override this setting on individual services
        public: false

    # makes classes in src/AppBundle available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    AppBundle\:
        resource: '../../src/AppBundle/*'
        # you can exclude directories or files
        # but if a service is unused, it's removed anyway
        exclude: '../../src/AppBundle/{Entity,Repository,Tests}'

    # controllers are imported separately to make sure they're public
    # and have a tag that allows actions to type-hint services
    AppBundle\Controller\:
        resource: '../../src/AppBundle/Controller'
        public: true
        tags: ['controller.service_arguments']
    # add more services, or override services that need manual wiring
    # AppBundle\Service\ExampleService:
    #     arguments:
    #         $someArgument: 'some_value'

    AppBundle\Vich\Naming\CedulaNamer:
        public: true

    AppBundle\Vich\Naming\ComprobantePagoNamer:
        public: true

    AppBundle\Vich\Naming\ComprobanteInscripcionNamer:
        public: true
    
    AppBundle\Vich\Naming\FacturaNamer:
        public: true

    AppBundle\DataFixtures\:
        resource: '../../src/AppBundle/DataFixtures'

    AppBundle\Service\InstitucionManagerInterface:
        class: AppBundle\Service\InstitucionManager
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@logger'
        public: true

    AppBundle\Service\MontoCarreraManagerInterface:
        class: AppBundle\Service\MontoCarreraManager
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@logger'
        public: true


    AppBundle\Service\ConvenioManagerInterface:
        class: AppBundle\Service\ConvenioManager
        arguments:
            - '@doctrine.orm.entity_manager'
        public: true

    AppBundle\EventListener\ComprobantePagoUploadedListener:
        tags:
            - { name: kernel.event_listener, event: vich_uploader.post_upload, method: postUpload }

    app.directory_namer.institucion:
        class: AppBundle\Vich\Naming\InstitucionDirectoryNamer
        public: true

    AppBundle\Service\ProcesadorFormaPagoInterface:
        class: AppBundle\Service\ProcesadorFormaPago
        public: true

    Knp\Snappy\Pdf:
        public: true
        arguments:
            - '%wkhtmltopdf_path%'

    AppBundle\Service\GeneradorReferenciaBancariaPDFInterface:
        class: AppBundle\Service\GeneradorReferenciaBancariaPDF
        public: true

    AppBundle\Service\GeneradorReferenciaBancariaZIPInterface:
        class: AppBundle\Service\GeneradorReferenciaBancariaZIP
        public: true
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@AppBundle\Service\GeneradorReferenciaBancariaPDF'
            - '@event_dispatcher'
            - '%referencias_bancarias_dir%'

    AppBundle\Service\SolicitudManagerInterface:
        class: AppBundle\Service\SolicitudManager
        public: true
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@Psr\Log\LoggerInterface'
            - '@Swift_Mailer'
            - '@Twig_Environment'
            - '@Symfony\Component\Security\Core\Encoder\EncoderFactoryInterface'
            - '%mailer_sender%'

    app.bank_references_created.event:
        class: AppBundle\EventListener\BankReferencesCreatedListener
        tags:
            - { name: kernel.event_listener, event: bank_references.created, method: handleBankReferencesCreated }
