<h1>Por medio de la presente le informamos que el CAME a indicado al sistema que los montos de la solicitud  {{ solicitud.noSolicitud }} son incorrectos</h1>
<p><strong>Observaciones</strong></p>
<p>{{ solicitud.observaciones }}</p>
