{% extends 'base.html.twig' %}

{% block body %}
    <div class='container-fluid'>
        <div class='row' style="padding: 25px;">
            <div class='col-md-1'>
                <img class='img-responsive' src='https://image.shutterstock.com/image-vector/blank-avatar-photo-place-holder-260nw-1095249842.jpg'/>
            </div>
            <div class='col-md-6'
                <p style="margin-top: 10px; font-size: 16px; font-weight: bold;">Institución educativa</p>
                <div id="ie"></div>
            </div>
    </div>

    <hr style="border: 1px solid black" />

    </div>

    <div class='container'>
        <p style="color: #265c4f; font-size: 24px; font-weight: bold; text-align: center;">Mis solicitudes de Campos Clínicos</p>

        <div class='row' style="padding: 25px;">
            <div class='col-md-offset-8 col-md-4'>
                <input type="text" placeholder="Buscar por.." name="search"/>
                <button type="submit">Buscar</button>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-offset-2 col-md-8'>
                <div id="listaCampos"></div>
            </div>
        </div>
    
    </div>
        


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.name = {{ name|json_encode|raw }}
    </script>
    <script src="{{ asset('build/inicio.js') }}"></script>

{% endblock %}
