{% extends 'base.html.twig' %}

{% block body %}
  {{ render(controller('AppBundle:Fofoe\\Fofoe:menu')) }}
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-12'>
        <h3>Reporte Oportunidad de Pago</h3>
        <div id="reporte-wrapper"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('build/fofoe_reporte-oportunidad.js') }}"></script>
{% endblock %}