{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <style>
    .submenu{
      background-color: whitesmoke;
      text-align: right;
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  </style>
{% endblock %}

{% block body %}
  <div class='container-fluid'>
    <div class='row'>
      <div class="submenu">
        <a href="/logout">Cerrar sesión</a>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <h3>Reporte ciclos clínicos</h3>
        <div id="reporte-wrapper"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/enfermeria_reporte-ciclos.js') }}"></script>
{% endblock %}