{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .square {
            height: 25px;
            width: 25px;
            background-color: #555;
        }
    </style>
{% endblock %}

{% block body %}
    <div class='container-fluid'>
        <div class='row' style="padding: 25px;">
            <div class='col-md-1'>
                <img class='img-responsive' src='https://image.shutterstock.com/image-vector/blank-avatar-photo-place-holder-260nw-1095249842.jpg'/>
            </div>
            <div class='col-md-3'>
                <p style="margin-top: 10px; font-size: 16px; font-weight: bold;">Institución educativa</p>
                <p>Nombre:</p>
            </div>
        </div>

        <hr style="border: 1px solid black" />

        <div class='container'>
            <p style="color: #265c4f; font-size: 24px; font-weight: bold; text-align: center;">Detalle de Solicitud de Campos Clínicos</p>

        <div style="display: flex;">
            <p style="margin-top: 10px; font-size: 16px; font-weight: bold;">No. Solicitud:</p><div id="noSolicitud"></div>
        </div>

        <div class='row'>
            <div class='col-md-6'>
                <p style="margin-top: 10px; font-size: 16px; font-weight: bold;">Se autorizaron 5 de 6 campos clínicos.</p>
            </div>
            <div class='col-md-6'>
                <input type="text" placeholder="Buscar por.." name="search"/>
                <button type="submit">Buscar</button>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12' id="listaSolicitud">

            </div>
        </div>
        
        <p style="margin-top: 10px; font-size: 16px; font-weight: bold;">Expediente</p>

        <div class='row'>
            <div class='col-md-12' id="listaExpediente">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}