@import "variables";
@import "util";
@import "components/navbar";

h1 {
  font-size: 24px;
  color: $green-color;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
p {
  margin: 0;
  padding: 0;
}

p,
label,
a {
  font-size: 15px;
}

.section-md {
  padding: 40px 0;
}

.error-message {
  font-size: 11px;
  color: red;
}
