{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <style>
    .wrapper-fofoe{
      margin-top: 40px;
      margin-bottom: 40px;
    }
  </style>
{% endblock %}

{% block body %}
  {{ render(controller('AppBundle:Fofoe\\Fofoe:menu')) }}


  <div class='container-fluid  wrapper-fofoe'>
    <div class="container">
      <div class='row'>
        <div class='col-md-12'>
          <h1 style="text-align: center; padding-bottom: 40px">Reportes</h1>
        </div>
      </div>

      <div id="reportes-container"></div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('build/fofoe_reportes-inicio.js') }}"></script>
{% endblock %}

