{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8" style="
            background-image: url('https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
            height: 500px;
            background-repeat: no-repeat;
            background-position: bottom;
        ">
        </div>
        <div class="col-md-4">
            <div style="padding-top: 80px; height: 500px;">
                <h1 class="mb-20 text-center">Decisiones basadas en <br>información</h1>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <form  action="{{ path('login') }}" method="post">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Correo electrónico o matrícula</label>
                                <input type="text" required class="form-control" name="_username">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Contraseña</label>
                                <input type="password" required class="form-control" name="_password">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/app.js') }}" type="application/javascript"></script>
{% endblock %}
