{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8" style="
            background-image: url({{ asset('build/images/login-background.jpeg') }});
            height: 500px;
            background-repeat: no-repeat;
            background-position: bottom;
        ">
        </div>
        <div class="col-md-4">
            <div style="padding-top: 80px; height: 500px;">
                <h1 class="mb-20 text-center">Sistema de Administración del FOFOE</h1>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <form  action="{{ path('login') }}" method="post">
                            {% if error is not null %}
                                <div class="alert alert-danger">
                                    <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">Correo electrónico o matrícula</label>
                                <input type="text" required class="form-control" name="_username">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Contraseña</label>
                                <input type="password" required class="form-control" name="_password">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success btn-block">Ingresar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
